<footer>
    <div class="footer-menu">
        <div class="about">
            <h2>ABOUT</h2>
            <ul id="about">
                <li>How Airbnb works</li>
                <li>Newsroom</li>
                <li>Airbnb Plus</li>
        </div>
        <div class="community">
            <h2>COMMUNITY</h2>
            <ul id="community">
                <li>Diversity & Belonging</li>
                <li>Accessibility</li>
                <li>Airbnb Associates</li>
            </ul>
        </div>
        <div class="host">
            <h2>HOST</h2>
            <ul id="host">
                <li>Host your home</li>
                <li>Host an Online Experience</li>
                <li>Host an Experience</li>
            </ul>
        </div>
        <div class="support">
            <h2>SUPPORT</h2>
            <ul id="support">
                <li>Updates for COVID-19</li>
                <li>Help Centre</li>
                <li>Cancellation options</li>
            </ul>
        </div>
    </div>
    <div class="social-media">
        <a href="https://www.instagram.com/airbnb/" id="instagram" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/airbnb" id="twitter" target="blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.facebook.com/airbnb" id="facebook" target="blank"><i
                class="fab fa-facebook-square"></i></a>
    </div>
</footer>